# Model Provider
N_AGENT_PROVIDER_BASE_URL=
N_AGENT_PROVIDER_API_KEY=
N_AGENT_PROVIDER_MODEL=

# Runtime
N_AGENT_SQLITE_PATH=/app/locals/sessions.db
N_AGENT_WORKSPACE_ROOT=/workspace
N_AGENT_AGENT_ITERATION_LIMIT=5
