# Common
.DS_Store
.DS_Store?
*.log
*.tmp
*.temp
~$*.xlsx
~$*.xls
*~
*.tar.gz
.gitversion
*.db

# Secrets
config_prod.json
secrets.json
*.key
*.pem
.env

# IDE
.vscode/
.idea/
.cursor/
.clinerules/
.superpowers/
.claude/
.workbuddy/

# Project-Common
locals/*
!locals/.gitkeep
logs/*
!logs/.gitkeep
data/*
!data/.gitkeep

.venv
.pytest_cache
.ruff_cache
*.pyc
*.egg-info/
__pycache__/
docker/docker-compose.yml
docker/.env
docker/locals/*
