name: n-agent

services:
  n-agent:
    build: .
    env_file:
      - path: .env
        required: false
    environment:
      N_AGENT_SQLITE_PATH: /app/locals/agent.db
      N_AGENT_WORKSPACE_ROOT: /workspace
    ports:
      - "8201:8201"
    volumes:
      - ~/app/locals:/app/locals
      - ~/workspace:/workspace
